/* cart.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e2a5a5;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: relative;
}

.navbar h1 {
    margin: 0;
}

.back-link {
    color: #fff;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}

.cart-items {
    max-width: 600px;
    margin: 20px auto;
    background-color: #e7bfbf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cart-item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item span {
    padding: 5px;
}

.cart-item span:first-child {
    flex: 1; /* Make product name take up remaining space */
}

.cart-item span:last-child {
    flex-shrink: 0; /* Prevent price from shrinking */
}

