

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #d38383;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #91ac97;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    color: #0f0b0f;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #f07070;
}

h2 {
    margin: 20px 0;
    font-size: 1.8em;
    color: #124a85;
}

p {
    padding: 10px 0;
    color: #555;
    font-size: 1.1em;
    line-height: 1.8;
}

ul {
    list-style: disc inside;
    padding-left: 20px;
    margin: 10px 0;
    color: #555;
}

ul li {
    margin: 10px 0;
    padding: 5px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    color: #333;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
}
