body{
    background-color: lightcoral;
}
        .product-card {
            border: 1px solid #ccc;
            border-radius: 9px;
            padding: 20px;
            width: 200px;
            display: inline-block;
            margin: 9px;
            vertical-align: top; /* Align cards at the top of the line */
        }
        .product-image {
            width: 90%;
            height: auto;
        }
        .product-details {
            margin-top: 10px;
        }
        .product-price {
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }
        .buy-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 3px;
            cursor: pointer;
            margin-top: 10px;
            display: block;
            width: 90%;
            text-align: center;
            text-decoration: none;
        }
        .buy-button:hover {
            background-color: #0056b3;
        }
        .product-grid {
            text-align: center;
        }
        .navbar{
            background-color: #333;
            overflow: hidden;
            padding: 10px 20px;
            text-align: center;
            color: limegreen;
        }

        .wishlist-button {
            display: inline-block;
            padding: 5px 10px;
            background-color: #f0f0f0;
            text-decoration: none;
            color: #333;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-top: 5px;
            cursor: pointer;
        }
        .quantity-input {
            width: 50px;
            margin-right: 10px;
            padding: 5px;
        }
        