body {
    background-color: lightcoral;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 9px;
    padding: 20px;
    width: 200px; /* Fixed width for the product card */
    display: inline-block;
    margin: 9px;
    vertical-align: top; /* Align cards at the top of the line */
    overflow: hidden; /* Hide overflow from the image */
    text-align: center; /* Center text and images */
}

.product-card img {
    width: 100%; /* Make the image fit the width of the container */
    height: 200px; /* Fixed height for images */
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
    border-radius: 5px; /* Optional: rounded corners for images */
    display: block; /* Remove bottom space */
    margin: 0 auto; /* Center the image horizontally */
}

.product-details {
    margin-top: 10px;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.buy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    width: 90%;
    text-align: center;
    text-decoration: none;
}

.buy-button:hover {
    background-color: #0056b3;
}

.product-grid {
    text-align: center;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 10px 20px;
    color: limegreen;
    display: flex;
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center items vertically */
}

.navbar-left {
    display: flex;
    align-items: center;
}

.nav-icon {
    color: limegreen;
    text-decoration: none;
    padding: 0 10px;
}

.navbar-center {
    flex: 1; /* Allow this section to grow and fill the space between left and right */
    text-align: center; /* Center the text horizontally */
}

.navbar-right {
    display: flex;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center; /* Center items vertically */
}

.search-form input[type="text"] {
    padding: 5px;
    margin-right: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.search-form button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #0056b3;
}

.wishlist-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
    cursor: pointer;
}

.quantity-input {
    width: 50px;
    margin-right: 10px;
    padding: 5px;
}
